.menu {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 1rem 2rem;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-left: auto;
    margin-right: auto;
}

.lottie {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto 2rem;
}

.menu h2 {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 24px;
}

/* Button styles using Open Sans */
.button {
    font-family: var(--font-alt); /* Open Sans font */
    font-size: 14px;
    font-weight: 600; /* Slightly bold to make it more prominent */
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 12px 24px;
    border-radius: 16px;
    text-align: center;
    display: inline-block; /* Button style inline */
    cursor: pointer; /* Make it clear it's clickable */
    transition: all 0.3s ease; /* Smooth hover transition */
    text-decoration: none;
  }
  
  /* Hover effect to darken button */
  .button:hover {
    filter: brightness(75%); /* Darkened orange on hover */
  }
  
  /* Focus or active effect */
  .button:focus,
  .button:active {
    filter: brightness(40%);
  }
  
  /* Adjust button size on smaller screens */
  @media screen and (max-width: 650px) {
    .button {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  
