.menu {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 1rem 2rem;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-left: auto;
    margin-right: auto;
}

.lottie {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto 2rem;
}

.menu h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 2rem;
}

.menu a {
        display: block;
        width: 200px;
        height: 50px;
        background: var(--color-orange);
        padding: 14px;
        text-align: center;
        border-radius: 16px;
        color: var(--color-white);
}

.menu a:hover {
    filter: brightness(80%);
}

.menu a:focus {
    filter: brightness(30%);
}
