.app__contact__footer {
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    
}

.app__contact__footer img {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    margin: 20px;
}

.app__contact__social {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0rem;
}